* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    max-width: 320px;

}
@font-face {
    font-family: "TTLakes";
  src: url("./TTLakes-ExtraLight.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.menu__web {
    display: grid;
    justify-content: center;
    grid-template-columns: 5;
    gap: 20px;
}
.subtitle__services {
    display: grid;
    align-items: center;
    min-width: 320px;
    max-width: 320px;
    grid-auto-flow: column; 
    gap: 20px;
}
.scroll_menu {
    overflow-x: scroll;
}
.scroller_items:hover {
    border: 1px solid #35cfeb;
    background-color: white;
}

.scroller_items {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   white-space: nowrap;
   gap: 20px;
}
.menu_item {
   color: #747272;
   display: flex;
   padding: 0.5rem 1.25rem;
   text-decoration: none;
}
@media (min-width: 320px;) and (max-width: 320px){
    .scroller_items {
        grid-template-columns: 1;
    }
}
@media (min-width: 320px;) and (max-width: 320px){
    .company {
        grid-template-columns: 1;
    }
}
.text_description {
    min-width: 320px;
}